<div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">
      <div class="d-flex">
        <a href="/dashboard/products/" class="d-block py-2">Đã xuất bản ({{publishesCount}})</a>
      </div>
    </h3>
  </div>
  <div class="card-body">
    <table id="example1" class="table table-hover table-striped">
      <thead class="thead-check-all">
        <tr>
          <th scope="col" class="tick-col">
            <input type="checkbox" name="check-all" id="check-all" body-target="#tbody">
          </th>
          <th scope="col" class="product-name-col hide-on-checked">Tên sản phẩm</th>
          <th scope="col" class="category-col hide-on-checked">Danh mục</th>
          <th scope="col" class="price-col hide-on-checked">Đơn giá</th>
          <th scope="col" class="action-col hide-on-checked"> </th>
          <th scope="col" class="amount-col show-on-checked d-none" colspan="2"> </th>
          <th scope="col" class="actions-col text-right show-on-checked d-none" colspan="2">
            <a href="#" class="text-main">Di chuyển vào thùng rác</a>
          </th>
        </tr>
      </thead>
      <tbody id="tbody">
        {{#each products as |product|}}
        <tr>
          <td scope="row" class="tick-col">
            <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
          </td>
          <td class="product-name-col">{{product.name}}</td>
          <td class="category-col">
            {{#with (lookup product.categories 0) as |cate|}}
            {{cate.tree}}
            {{/with}}
          </td>
          <td class="price-col">{{product.originalPrice}}</td>
          <td class="action-col">
            <div class="d-flex">
              <a href="javascript:void(0)" class="btn-outline-main ml-auto mr-2 restore" id="{{product._id}}">Khôi
                phục</a>
              <a href="javascript:void(0)" class="btn btn-outline-danger delete" id="{{product._id}}">Xóa</a>
            </div>
          </td>
        </tr>
        {{else}}
        <tr>
          <td scope="row" class="bg-white text-center text-main" colspan="5">
            Chưa có sản phẩm nào
          </td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th>Check</th>
          <th>Tên sản phẩm</th>
          <th>Danh mục</th>
          <th>Đơn giá</th>
          <th> </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    $(document).ready(function () {
      $(".delete").on("click", async function (e) {
        const id = $(this).attr("id");
        const API_URL = '/api/products/' + id + "/force";
        const token = localStorage.getItem("auth_token");

        console.log(API_URL);

        try {
          // for loading animation
          $(this).html(`
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Loading...
          `);

          const { data } = await axios.delete(API_URL, {
            headers: {
              auth_token: token,
            }
          });

          alert(data.message);
          location.href = "/dashboard/products/trashbin";
        } catch ({ response }) {
          alert(response.data.errors[0]);
          // end animation when error
          $(this).html(`Xoá`);
        }
      });

      $(".restore").on("click", async function (e) {
        const id = $(this).attr("id");
        const API_URL = '/api/products/restore/' + id;
        const token = localStorage.getItem("auth_token");

        console.log(API_URL);

        try {
          // for loading animation
          $(this).html(`
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Loading...
          `);

          const { data } = await axios.patch(API_URL, {}, {
            headers: {
              auth_token: token,
            }
          });

          alert(data.message);
          location.href = "/dashboard/products";
        } catch ({ response }) {
          alert(response.data.errors[0]);
          // end animation when error
          $(this).html(`Khôi phục`);
        }
      });
    });
  });
</script>

<div class="gap-md"></div>