<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="card card-info card-outline">
    <div class="card-header">
      <div class="card-title">
        <a href="admins/add">
          <button type="button" class="btn btn-block btn-outline-primary btn-lg">Thêm tài khoản</button>
        </a>
      </div>
    </div>

    <div class="card-body pb-0">
      <div class="row">
        {{#each admins as |admin|}}
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
          <div class="card {{#if (compare admin.role 'super admin')}}card-info card-outline{{else}}card-danger{{/if}} card-outline bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
              {{admin.role}}
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 class="lead"><b>{{admin.name}}</b></h2>
                  <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li class="small">
                      <span class="fa-li"><i class="fas fa-lg fa-building"></i></span> 
                      Địa chỉ: {{admin.address}}
                    </li>
                    <li class="small">
                      <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> 
                      Điện thoại: {{admin.phone}}
                    </li>
                    <li class="small">
                      <span class="fa-li"><i class="fas fa-lg fa-user"></i></span> 
                      Email: {{admin.email}}
                    </li>
                  </ul>
                </div>
                <div class="col-5 text-center">
                  <div class="avatar-box">
                    <img src="{{admin.avatar}}" alt="user-avatar" class="img-circle img-fluid">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="/admins/profile/{{admin._id}}" class="btn btn-sm btn-primary">
                  <i class="fas fa-user text-light"></i> Xem chi tiết
                </a>
              </div>
            </div>
          </div>
        </div>
        {{else}}
        <div class="gap-md"></div>
        <div class="gap-md"></div>
        <h2 class="text-center d-block m-auto">
          Hiện tại chưa có admin nào
        </h2>
        <div class="gap-md"></div>
        <div class="gap-md"></div>
        {{/each}}
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>