<div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">
      <div class="d-flex">
        <a href="/dashboard/blogs/add" class="d-block py-2 mr-lg-4 mr-2">Bài viết mới<i
            class="bi bi-plus-circle-fill text-primary"></i> </a>
        <a href="/dashboard/blogs/trashbin" class="d-block py-2">Thùng rác ({{trashbinCount}})</a>
      </div>
    </h3>
  </div>
  <div class="card-body">
    <table id="example1" class="table table-hover table-striped">
      <thead class="thead-check-all">
        <tr>
          <th scope="col" class="tick-col">
            <input type="checkbox" name="check-all" id="check-all" body-target="#tbody">
          </th>
          <th scope="col" class="product-name-col hide-on-checked">Tên bài viết</th>
          <th scope="col" class="category-col hide-on-checked">Tác giả</th>
          <th scope="col" class="price-col hide-on-checked">Ngày tạo</th>
          <th scope="col" class="action-col hide-on-checked"> </th>
          <th scope="col" class="amount-col show-on-checked d-none" colspan="2"> </th>
          <th scope="col" class="actions-col text-right show-on-checked d-none" colspan="2">
            <a href="#" class="text-main">Di chuyển vào thùng rác</a>
          </th>
        </tr>
      </thead>
      <tbody id="tbody">
        {{#each blogs as |blog|}}
        <tr>
          <td scope="row" class="tick-col">
            <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
          </td>
          <td class="product-name-col">{{blog.name}}</td>
          <td class="category-col">
            {{blog.author.name}}
          </td>
          <td class="price-col">{{convertDate blog.createdAt}} </td>
          <td class="action-col">
            <div class="d-flex">
              <a href="/dashboard/blogs/edit/{{blog.slug}}" class="btn-outline-main ml-auto mr-2">Sửa</a>
              <a href="javascript:void(0)" class="btn btn-outline-danger delete" id="{{blog._id}}">Thùng rác</a>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th>Check</th>
          <th>Tên bài viết</th>
          <th>Tác giả</th>
          <th>Ngày tạo</th>
          <th> </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    $(document).ready(function () {
      $(".delete").on("click", async function (e) {
        const id = $(this).attr("id");
        const API_URL = '/api/blogs/' + id;
        const token = localStorage.getItem("auth_token");

        try {
          // for loading animation
          $(this).html(`
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Loading...
          `);
          
          const {data} = await axios.delete(API_URL, {
            headers: {
              auth_token: token,
            }
          });
          alert(data.message);
          location.href = "/dashboard/blogs/trashbin";
        } catch ({response}) {
          alert(response.data.errors[0]);
          // end animation when error
          $(this).html(`Thùng rác`);
        }
      });
    });
  });
</script>

<div class="gap-lg"></div>